body {
    background-image: -moz-repeating-linear-gradient();
}

#result {
    margin-top: 100px;
    text-align: center;
    color: rgb(13, 15, 13);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

button {
    margin-left: 550px;
    margin-top: 20px;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(8, 8, 8);
    border: none;
    color: rgb(241, 22, 22);
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}
